@import "./utils/variable";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/typography";

body
{
    font-family: 'Roboto','Times New Roman', Times, serif;
    margin-right: 0;
    margin-left: 0;
}
.main-title
{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    font-family: 'Shrikhand','Times New Roman', Times, serif;
    justify-content: center;
 
}
.main-btn
{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border:0;
    font-size: large;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    box-shadow:3px 3px 8px rgba(128, 128, 128, 0.382) inset;  
    &__img{
        margin-right: 10px;
    }
}
.pres
{
    &__btn
    {
    @include btn}
    &__btn:hover 
    {
        lighting-color: adjust-hue($color-secondaire, $degrees: 80%);
    }

}