@import "./utils/variable";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/typography";

body
{
    font-family: 'Roboto','Times New Roman', Times, serif;
    margin-right: 0;
    margin-left: 0;
}
.main-title
{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    font-family: 'Shrikhand','Times New Roman', Times, serif;
    justify-content: center;
 
}
.main-btn
{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border:0;
    font-size: large;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    box-shadow:3px 3px 8px rgba(128, 128, 128, 0.382) inset;  
    &__img{
        margin-right: 10px;
    }
}
.pres
{   display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 20px;
    text-align: center;
        &__main
        {
            box-sizing: border-box;
            width: 70%;
        }
        &__second
        {
            box-sizing: border-box;
            width: 95%;
            margin-bottom: 30px;
            margin-top: -5px;
        }
        &__btn
        {
            @include btn}
        &__btn:hover 
        {
            background-color: adjust-hue($color-secondaire, $degrees: 10%);
        }

}