@import "./utils/variable";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/typography";

body
{
    
    font-family: 'Roboto','Times New Roman', Times, serif;
}
.main-title
{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    font-family: 'Shrikhand','Times New Roman', Times, serif;
    justify-content: center;
 
}
.main-btn
{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border:0;
    font-size: large;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    box-shadow:3px 3px 8px rgba(128, 128, 128, 0.382) inset;
    cursor: pointer;  
    &__img{
        margin-right: 10px;
    }
}
.pres
{   display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 20px;
    text-align: center;
    
        &__main
        {
            box-sizing: border-box;
            width: 70%;
        }
        &__second
        {
            box-sizing: border-box;
            width: 95%;
            margin-bottom: 30px;
            margin-top: -5px;
        }
        &__btn
        {
            @include btn;
        cursor: pointer;
    }
        &__btn:hover 
        {
            background-color: adjust-hue($color-secondaire, $degrees: 10%);
        }
}
.choix
{
    margin-top: 100px;
    
        h3
        {
            font-size: x-large;
            font-weight: bold;
            margin-bottom: 40px;
        }
        p
        {
            font-size:medium;
            font-weight: bold
        }
        &__1
        {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            
        }
        &__1__btn
        {
            @include fonctionnement;
            cursor: pointer;
        }
        &__1__btn__num
        {
            @include num-btn;
        }
        &__1__btn__txt
        {
            margin-left: 20px;
        }
        &__2
        {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            
        }
        &__2__btn
        {
            @include fonctionnement;
            background-color: rgb(244, 237, 254);
            cursor: pointer;
        }
        &__2__btn__num
        {
            @include num-btn;
        }
        &__2__btn__txt
        {
            margin-left: 20px;
        }
}

.resto
{
    margin-top: 100px;
    
    h3
    {
        font-size: x-large;
        font-weight:bold;
        margin-bottom: 10px;
    }
    &__1
    {   
        @include restaurant;
        margin-top: 30px;
        cursor: pointer;
    }
    &__1__img
    {
        @include restauranti
    }
    &__1__new
    {
        @include new
    }
    &__1 p
    {
       margin: 15px;
       margin-block-end: 0;
       margin-block-start: 0;
       width: fit-content;
    }
    &__1 h4
    {
        margin: 15px;
        margin-block-end: 5px;
        margin-block-start: 10px;
        width: fit-content;
    }
    &__1__like
    {
        position: absolute;
        right: 5%;
        top: 181%;
    }
} 
