@font-face {
  font-family: "Shrikhand";
  src: url("Police/shrikhand/build/Shrikhand-Regular.ttf");
}
.header__2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header__2 a {
  text-decoration: none;
  color: black;
}

.header__2 p {
  font-size: x-large;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 0;
}

.header__2 h1 {
  margin-left: -10px;
}

.back__img {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 240px;
  object-fit: cover;
}

body {
  font-family: 'Roboto','Times New Roman', Times, serif;
}

.main-title {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  font-family: 'Shrikhand','Times New Roman', Times, serif;
  justify-content: center;
}

.main-btn {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 0;
  font-size: large;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  box-shadow: 3px 3px 8px rgba(128, 128, 128, 0.382) inset;
  cursor: pointer;
}
.main-btn__img {
  margin-right: 10px;
}

.pres {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 20px;
  text-align: center;
}
.pres__main {
  box-sizing: border-box;
  width: 70%;
}
.pres__second {
  box-sizing: border-box;
  width: 95%;
  margin-bottom: 30px;
  margin-top: -5px;
}
.pres__btn {
  display: flex;
  box-sizing: border-box;
  width: 68%;
  height: 60px;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  border: 0;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 2px 2px 8px grey;
  background: linear-gradient(to top, black, 2%, #FF79DA);
  font-size: larger;
  cursor: pointer;
}
.pres__btn:hover {
  background-color: #ff79c4;
}

.choix {
  margin-top: 100px;
}
.choix h3 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 40px;
}
.choix p {
  font-size: medium;
  font-weight: bold;
}
.choix__1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.choix__1__btn {
  display: flex;
  box-sizing: border-box;
  width: 95%;
  height: 70px;
  border: 0;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.425);
  background-color: #f7f6f6;
  padding: 3px;
  align-items: center;
  cursor: pointer;
}
.choix__1__btn__num {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  align-items: center;
  color: white;
  margin-right: 20px;
  margin-left: -12px;
}
.choix__1__btn__txt {
  margin-left: 20px;
}
.choix__2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.choix__2__btn {
  display: flex;
  box-sizing: border-box;
  width: 95%;
  height: 70px;
  border: 0;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.425);
  background-color: #f7f6f6;
  padding: 3px;
  align-items: center;
  background-color: #f4edfe;
  cursor: pointer;
}
.choix__2__btn__num {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  align-items: center;
  color: white;
  margin-right: 20px;
  margin-left: -12px;
}
.choix__2__btn__txt {
  margin-left: 20px;
}

.resto {
  margin-top: 100px;
}
.resto h3 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}
.resto__1 a {
  text-decoration: none;
  color: black;
}
.resto__1 {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.425);
  flex-flow: column wrap;
  margin-top: 30px;
  cursor: pointer;
}
.resto__1__img {
  display: flex;
  width: 100%;
  height: 80%;
  object-fit: cover;
  border: 0;
  border-radius: 20px 20px 0 0;
}
.resto__1__new {
  display: block;
  position: absolute;
  right: 5%;
  top: 144%;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #99E2D0;
  color: #278870;
  padding-top: 3px;
  border-radius: 5px;
}
.resto__1 p {
  margin: 15px;
  margin-block-end: 0;
  margin-block-start: 0;
  width: fit-content;
}
.resto__1 h4 {
  margin: 15px;
  margin-block-end: 5px;
  margin-block-start: 10px;
  width: fit-content;
}
.resto__1__like {
  position: absolute;
  right: 6%;
  top: 180%;
  background-color: white;
  border: 0;
  font-size: x-large;
}
.resto__1__like:active {
  background-clip: text;
  color: #FF79DA;
}

.resto__2__img {
  display: flex;
  width: 100%;
  height: 80%;
  object-fit: cover;
  border: 0;
  border-radius: 20px 20px 0 0;
  height: 230px;
}

.resto__2__new {
  display: block;
  position: absolute;
  right: 5%;
  top: 144%;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #99E2D0;
  color: #278870;
  padding-top: 3px;
  border-radius: 5px;
  top: 195%;
}

.resto__2__like {
  position: absolute;
  right: 6%;
  top: 180%;
  background-color: white;
  border: 0;
  font-size: x-large;
  top: 230%;
}

.resto__2__like:active {
  background-clip: text;
  color: #FF79DA;
}

.resto__3__like {
  position: absolute;
  right: 6%;
  top: 180%;
  background-color: white;
  border: 0;
  font-size: x-large;
  top: 279%;
}

.resto__3__like:active {
  background-clip: text;
  color: #FF79DA;
}

.resto__4__like {
  position: absolute;
  right: 6%;
  top: 180%;
  background-color: white;
  border: 0;
  font-size: x-large;
  top: 329%;
}

.resto__4__like:active {
  background-clip: text;
  color: #FF79DA;
}

footer {
  background-color: #353535;
  color: white;
  box-sizing: border-box;
  width: auto;
  height: 170px;
}
footer ul {
  list-style-type: none;
}
footer h5 {
  font-size: large;
  font-family: 'Shrikhand','Times New Roman', Times, serif;
  padding-top: 25px;
  padding-left: 35px;
}

/*# sourceMappingURL=style.css.map */
