@keyframes slide {
  0% {
    width: 2%;
    opacity: 1;
  }
  20% {
    width: 70px;
    opacity: 1;
  }
  80% {
    width: 70px;
    opacity: 1;
  }
  100% {
    width: 2%;
    opacity: 0;
  }
}
@keyframes slidep {
  0% {
    width: 100%;
  }
  20% {
    width: 95%;
  }
  80% {
    width: 95%;
  }
  100% {
    width: 100%;
  }
}
@keyframes platI {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(180deg);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disparition {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes slideTitre {
  from {
    margin-bottom: 100%;
  }
  to {
    margin-bottom: 0%;
  }
}
@keyframes apparition-menu {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url("Police/shrikhand/build/Shrikhand-Regular.ttf");
}
.header__2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header__2 a {
  text-decoration: none;
  color: black;
}

.header__2 p {
  font-size: x-large;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 0;
}

.header__2 h1 {
  margin-left: -10px;
}

.back__img {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-top: -15px;
}

.selection {
  display: block;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  height: 1120px;
  border: 0;
  border-radius: 20px 20px 0 0;
  background-color: #f6f6f6;
  margin-top: -33px;
  padding-top: 15px;
  margin-left: 0;
}
.selection__main {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.selection__title {
  font-family: 'Shrikhand','Times New Roman', Times, serif;
  margin-left: 10px;
}
.selection__like {
  background-color: white;
  border: 0;
  font-size: x-large;
  background-color: #f6f6f6;
}

.entree__all {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.entree__E {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  width: 90%;
  height: 70px;
  border-radius: 20px;
  background-color: white;
  align-content: space-between;
  margin-top: 20px;
  justify-content: center;
}
.entree__E:hover .entree__clic {
  animation: slide 5s ease-in-out both alternate;
}
.entree__E:hover p {
  animation: slidep 5s ease-in-out both alternate;
}
.entree__E:hover h4 {
  animation: slidep 5s ease-in-out both alternate;
}
.entree__E__entier {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  flex-flow: column wrap;
}
.entree__L {
  box-sizing: border-box;
  width: 30px;
  margin: -14px 0 0 15px;
  border-bottom: 3px solid #99E2D0;
}
.entree__clic {
  position: relative;
  background-color: #99E2D0;
  opacity: 0;
  width: 0;
  height: 70px;
  border-radius: 0 20px 20px 0;
}
.entree__clic i {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: x-large;
  padding: 20px;
  overflow: hidden;
}
.entree :hover .entree__clic i {
  animation: platI 1s ease-in-out 0.2s;
  animation: spin 1s linear;
}
.entree p {
  margin-top: -10px;
  margin-left: 10px;
  font-size: small;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #787878;
}
.entree h3 {
  margin-left: 15px;
  font-weight: normal;
  font-size: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.entree h4 {
  margin-left: 10px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 8px;
}
.entree__E__txt {
  flex-flow: column;
}
.entree__E__prix {
  margin-top: 20px;
  padding-right: 15px;
  margin-right: 0;
  transition: margin-right 2s;
}
.entree__btn {
  display: flex;
  box-sizing: border-box;
  width: 68%;
  height: 60px;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  border: 0;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 2px 2px 8px grey;
  background: linear-gradient(to top, black, 2%, #FF79DA);
  font-size: larger;
  margin: auto;
  margin-top: 30px;
  width: 60%;
  height: 55px;
  padding-inline-end: 20px;
}

.entree__E1, .entree__E2, .entree__E3, .entree__E4, .entree__E5, .entree__E6, .entree__E7, .entree__E8, .entree__E9, .entree__E10 {
  cursor: pointer;
  animation: apparition-menu 1s ease-in-out both;
}

.entree__E1 {
  animation-delay: 10ms;
}

.entree__E2 {
  animation-delay: 90ms;
}

.entree__E3 {
  animation-delay: 180ms;
}

.entree__E4 {
  animation-delay: 270ms;
}

.entree__E5 {
  animation-delay: 360ms;
}

.entree__E6 {
  animation-delay: 450ms;
}

.entree__E7 {
  animation-delay: 540ms;
}

.entree__E8 {
  animation-delay: 630ms;
}

.entree__E9 {
  animation-delay: 720ms;
}

.entree__E10 {
  animation-delay: 810ms;
}

footer h5 {
  margin-block-start: 0;
}

.back__img3 {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: -100px;
  margin-bottom: -120px;
  overflow: hidden;
}

.header__3 {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  margin-top: -20px;
  background-color: white;
}

.header__3 a {
  text-decoration: none;
  color: black;
}

.header__3 p {
  font-size: x-large;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 0;
}

.header__3 h1 {
  margin-left: -10px;
}

.selection2 {
  display: block;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  height: 1220px;
  border: 0;
  border-radius: 20px 20px 0 0;
  background-color: #f6f6f6;
  margin-top: -33px;
  padding-top: 15px;
  margin-left: 0;
}
.selection2__main {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.selection2__title {
  font-family: 'Shrikhand','Times New Roman', Times, serif;
  margin-left: 10px;
}
.selection2__like {
  background-color: white;
  border: 0;
  font-size: x-large;
  background-color: #f6f6f6;
}
.selection2__like:active {
  background-clip: text;
  color: #FF79DA;
}

body {
  font-family: 'Roboto','Times New Roman', Times, serif;
}

.main-title {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  font-family: 'Shrikhand','Times New Roman', Times, serif;
  justify-content: center;
}

.main-btn {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 0;
  font-size: large;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  box-shadow: 3px 3px 8px rgba(128, 128, 128, 0.382) inset;
  cursor: pointer;
}
.main-btn__img {
  margin-right: 10px;
}

.pres {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 20px;
  text-align: center;
}
.pres__main {
  box-sizing: border-box;
  width: 70%;
}
.pres__second {
  box-sizing: border-box;
  width: 95%;
  margin-bottom: 30px;
  margin-top: -5px;
}
.pres__btn {
  display: flex;
  box-sizing: border-box;
  width: 68%;
  height: 60px;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  border: 0;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 2px 2px 8px grey;
  background: linear-gradient(to top, black, 2%, #FF79DA);
  font-size: larger;
  cursor: pointer;
}
.pres__btn:hover {
  background-color: #ff7997;
  box-shadow: 2px 2px 20px grey;
}

.choix {
  margin-top: 100px;
}
.choix h3 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 40px;
}
.choix p {
  font-size: medium;
  font-weight: bold;
}
.choix__1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.choix__1__btn {
  display: flex;
  box-sizing: border-box;
  width: 95%;
  height: 70px;
  border: 0;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.425);
  background-color: #f7f6f6;
  padding: 3px;
  align-items: center;
  cursor: pointer;
}
.choix__1__btn__num {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  align-items: center;
  color: white;
  margin-right: 20px;
  margin-left: -12px;
}
.choix__1__btn__txt {
  margin-left: 20px;
}
.choix__2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.choix__2__btn {
  display: flex;
  box-sizing: border-box;
  width: 95%;
  height: 70px;
  border: 0;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.425);
  background-color: #f7f6f6;
  padding: 3px;
  align-items: center;
  background-color: #f4edfe;
  cursor: pointer;
}
.choix__2__btn__num {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  align-items: center;
  color: white;
  margin-right: 20px;
  margin-left: -12px;
}
.choix__2__btn__txt {
  margin-left: 20px;
}

.resto {
  margin-top: 100px;
}
.resto h3 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}
.resto__1 a {
  text-decoration: none;
  color: black;
}
.resto__1 {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.425);
  flex-flow: column wrap;
  margin-bottom: 30px;
  cursor: pointer;
}
.resto__1__all {
  display: flex;
  justify-content: space-between;
}
.resto__1__txt {
  display: flex;
  flex-flow: column nowrap;
}
.resto__1__img {
  display: flex;
  width: 100%;
  height: 75%;
  object-fit: cover;
  border: 0;
  border-radius: 20px 20px 0 0;
}
.resto__1__new {
  display: block;
  position: absolute;
  right: 5%;
  top: 144%;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #99E2D0;
  color: #278870;
  padding-top: 3px;
  border-radius: 5px;
}
.resto__1 p {
  margin: 15px;
  margin-block-end: 0;
  margin-block-start: 0;
  width: fit-content;
}
.resto__1 h4 {
  margin: 15px;
  margin-block-end: 5px;
  margin-block-start: 10px;
  width: fit-content;
}
.resto__1__like {
  background-color: white;
  border: 0;
  font-size: x-large;
  margin-right: 10px;
}

.fa-heart {
  color: #FFF;
  text-shadow: 0px 0px 6px  #000;
}

.fa-heart::before {
  font-weight: bold;
  transition: color 1s ease-out;
}

.fa-heart:hover::before {
  color: #FF79DA;
  cursor: pointer;
}

.resto__2__img {
  display: flex;
  width: 100%;
  height: 75%;
  object-fit: cover;
  border: 0;
  border-radius: 20px 20px 0 0;
  height: 230px;
}

.resto__2__new {
  display: block;
  position: absolute;
  right: 5%;
  top: 144%;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #99E2D0;
  color: #278870;
  padding-top: 3px;
  border-radius: 5px;
  top: 193%;
}

footer {
  background-color: #353535;
  color: white;
  box-sizing: border-box;
  width: auto;
  height: 200px;
}
footer ul {
  list-style-type: none;
  margin-top: -10px;
}
footer li {
  margin-top: 10px;
}
footer h5 {
  font-size: large;
  font-family: 'Shrikhand','Times New Roman', Times, serif;
  padding-top: 25px;
  padding-left: 35px;
}
footer a {
  text-decoration: none;
  color: white;
}

.fa-solid {
  font-size: 0.8em;
  margin-right: 15px;
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: #99E2D0;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disparition 3s 2s both;
}
.loader h2 {
  color: #9356DC;
  font-size: 2em;
  font-family: 'Shrikhand','Times New Roman', Times, serif;
  animation: slideTitre 2.5s;
}

/*# sourceMappingURL=style.css.map */
