
.header__2
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.header__2 a 
{
    text-decoration: none;
    color: black;
}
.header__2 p
{
    font-size: x-large;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 0;
}
.header__2 h1
{
    margin-left: -10px;
    font-family: 'Shrikhand','Times New Roman', Times, serif; 
}
.back__img
{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-top: -15px; 
    @media screen and (min-width:992px)
    {
    img 
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media screen and (min-width:762px) and (max-width:992px)
    {
        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.selection
{
    display: block;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    width: 100%;
    height: 1120px;
    border: 0;
    border-radius: 20px 20px 0 0 ;
    background-color: rgb(246, 246, 246);
    margin-top: -33px;
    padding-top: 15px;
    margin-left: 0;
    @media screen and (min-width:992px)
    {
        height: 670px;
    }
    &__main
    {   
        display: inline-flex;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        flex-flow: row nowrap;
        justify-content: space-around;
        @media screen and (min-width:992px)
        {
            justify-content: space-between;
        }
        @media screen and (min-width:762px) and (max-width:992px)
    {
        justify-content: space-between;
    }
    }
    &__title
    {
        font-family: 'Shrikhand','Times New Roman', Times, serif;
        margin-left: 10px;
    }
    &__like
    {
        @include like;
        background-color: rgb(246, 246, 246);
    }
}
.entree
{
    &__all
    {
        display: flex;
    flex-flow: column;
    align-items: center;
    @media screen and (min-width:992px)
    {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    }
    &__E
    {
        @include plat;
        @media screen and (min-width:992px)
        {
            width: 30%;
        }
    }
    &__E:hover .entree__clic 
    {
        animation: slide 5s ease-in-out both;  
    }
    &__E:hover p 
    {
        animation: slidep 5s ease-in-out both ;
        @media screen and (min-width:992px)
        {
            animation: none;
        }
        @media screen and (min-width:762px) and (max-width:992px)
        {
        animation: none;
    }
}
    &__E:hover h4
    {
        animation: slidep 5s ease-in-out both;
        @media screen and (min-width:992px)
        {
            animation: none;
        }
        @media screen and (min-width:762px) and (max-width:992px)
    {
        animation: none;
    }
    }
    &__E__entier
    {   display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 70px;
        flex-flow: column wrap;
    }
    &__L
    {
        box-sizing: border-box;
        width: 30px;
        margin: -14px 0 0 15px;
        border-bottom: 3px solid $color-tertiaire;
    } 
    &__right
    {
        display: flex;
        justify-content: flex-end;
    }
    &__clic
    {
        position: relative;
        background-color: #99E2D0;
        opacity: 0;
        width: 0;
        height: 70px;
        border-radius: 0 20px 20px 0;
    }
    &__clic i
    {   position: relative;
        color: #fff;
        font-weight: bold;
        font-size: x-large;
        margin: 0px;
        overflow: hidden;
    }
    :hover .entree__clic i
        {
            animation: platI 1s ease-in-out 0.2s ;
            animation: spin 1s linear ;
            margin: 20px;
        }
    p 
    {
        margin-top: -10px;
        margin-left: 10px;
        font-size: small;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #787878;
    }
    h3 
    {
        margin-left: 15px;
        font-weight: normal;
        font-size: 1em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
       
    }
    h4 
    {
        margin-left: 10px;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 8px;
    }
    &__E__txt
    {
        flex-flow: column;
    }
    &__E__prix
    {
        margin-top: 35px; 
        padding-right: 15px;
        margin-right: 0;
        transition: margin-right 2s;
    }
    &__btn
    {
        @include btn;
        margin: auto;
        margin-top: 30px;
        width: 60%;
        height: 55px;
        padding-inline-end: 20px;
        @media screen and (min-width:992px)
        {
            margin-top: 70px;
            width: 30%;
        }
    }
}
.entree__E1,.entree__E2,.entree__E3,.entree__E4,.entree__E5,.entree__E6,.entree__E7,.entree__E8,.entree__E9,.entree__E10
{
    cursor: pointer;
    animation: apparition-menu 1s ease-in-out both ;
}
.entree__E1
{
    animation-delay: 10ms;
}
.entree__E2
{
    animation-delay: 90ms;
}
.entree__E3
{
    animation-delay: 180ms;
}
.entree__E4
{
    animation-delay: 270ms;
}
.entree__E5
{
    animation-delay: 360ms;
}
.entree__E6
{
    animation-delay: 450ms;
}
.entree__E7
{
    animation-delay: 540ms;
}
.entree__E8
{
    animation-delay: 630ms;
}
.entree__E9
{
    animation-delay: 720ms;
}
.entree__E10
{
    animation-delay: 810ms;
}
footer h5
{
    margin-block-start: 0;
}