.header__2
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.header__2 a 
{
    text-decoration: none;
    color: black;
}
.header__2 p
{
    font-size: x-large;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 0;
}
.header__2 h1
{
    margin-left: -10px;
}
.back__img
{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 240px;
    object-fit: cover;
}