.header__2
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.header__2 a 
{
    text-decoration: none;
    color: black;
}
.header__2 p
{
    font-size: x-large;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 0;
}
.header__2 h1
{
    margin-left: -10px;
}
.back__img
{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.selection
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 20px 20px 0 0 ;
    background-color: rgb(246, 246, 246);
    &__main
    {   
        display: inline-flex;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        flex-flow: row nowrap;
    }
    &__title
    {
        font-family: 'Shrikhand','Times New Roman', Times, serif;
    }
}