@mixin btn {
    display: flex;
    box-sizing: border-box;
    width: 68%;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    border: 0;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 8px grey;
    background: linear-gradient(to top,black,2%,$color-secondaire);
    font-size: larger;
}

@mixin fonctionnement {
    display: flex;
    box-sizing: border-box;
    width: 95%;
    height: 70px;
    border: 0;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.425);
    background-color: rgb(247, 246, 246);
    padding: 3px;
    align-items: center; 
}

@mixin num-btn {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: $color-primaire;
    align-items: center;
    color: white;
    margin-right: 20px;
    margin-left: -12px;   
}

@mixin restaurant {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.425);
    flex-flow: column wrap;
}

@mixin restauranti {
    display: flex;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border:0;
    border-radius: 20px 20px 0 0 ;
}

@mixin new {
    display: block;
    position: absolute;
    right:5%;
    top: 144%;
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: $color-tertiaire;
    color: darken($color-tertiaire , $amount: 40%);
    padding-top: 3px;
    border-radius: 5px ;
}