@mixin btn {
    display: flex;
    box-sizing: border-box;
    width: 70%;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    border: 0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 8px grey;
    background-color: $color-secondaire;
    font-size: larger;

}